@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-primary: #182c33;
  --color-blue: #002146;
  --color-lightprimary: #d9e9fa;
  --color-secondary: #9ca3af;
  --color-firstgold: #e0c212;
  --font-display: "Poppins", sans-serif;
}

#root {
  margin: 0 auto;
  min-height: 100vh;
}
